@page "/otp"

<PageTitle>PLC Smart Lock | OTP Config</PageTitle>

<div class="grid-center-items">

    <div class="grid-center-items">
        <h2>PLC OTP 配置</h2>
    </div>

    <!-- OTP 配置 -->

</div>
