@page "/plc"

<PageTitle>PLC Smart Lock | PLC</PageTitle>

<div class="grid-center-items">

    <div class="grid-center-items">
        <h2>PLC 信息</h2>
    </div>

    <MDivider></MDivider>

    <MContainer Fluid>

        @foreach (var (label, textLabel, value) in ColumnInfos)
        {
            <ConfigurationRow Label="@label">
                <MTextField Disabled
                            Label="@textLabel"
                            Value="@value"></MTextField>
            </ConfigurationRow>
        }

    </MContainer>

</div>

@code {
    public record ColumnInfo(string Label, string TextLabel, string Value);

    private readonly bool _plcConnectionStatus = false;
    private readonly PlcInfo _plcInfo = new()
    {
        Ip = "10.110.1.1",
        CpuType = S7.Net.CpuType.S71200.ToFormattedString(),
        Rack = 0,
        Slot = 1
    };

    private List<ColumnInfo> ColumnInfos => new()
    {
        new ColumnInfo("PLC 连接状态", "PLC STATUS", _plcConnectionStatus ? "True" : "False"),
        new ColumnInfo("PLC IP 地址", "PLC IP", _plcInfo.Ip),
        new ColumnInfo("PLC CPU 类型", "PLC CPU TYPE", _plcInfo.CpuType),
        new ColumnInfo("PLC 机架编号", "PLC RACK", _plcInfo.Rack.ToString()),
        new ColumnInfo("PLC 插槽编号", "PLC SLOT", _plcInfo.Slot.ToString())
    };

}
